@model List<DMLTriggerGenerator.ViewModel.ColumnsViewModelElement>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "_columns";
}
	<ul id="listClolumns">
		@foreach (var col in Model)
		{
			<li class="li-styling column-element">
				<div>
					<p class="text-bold text-big" id="column-title">@col.ColumnName</p>
					<p class="column-data">					
						@col.DataType.ToUpper()
		
						@((col.CharacterMaxLength != null) ? $"({col.CharacterMaxLength})" : "")
						@(col.ISNullable == DMLTriggerGenerator.DAL.Enums.IsNullable.YES ? "NULL" : "NOT NULL" )
					</p>
				</div>
					<label class="checkbox-inline"><input type="checkbox" name="Insert" @((col.Insert)? "checked": "") value="Insert">Insert</label>
					<label class="checkbox-inline"><input type="checkbox" name="Update" @((col.Update)? "checked": "") value="Update">Update</label>
					<label class="checkbox-inline"><input type="checkbox" name="Delete" @((col.Delete)? "checked": "") value="Delete">Delete</label>
			</li>
					}
	</ul>


