@model IEnumerable<DMLTriggerGenerator.DAL.Model.ColumnModel>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "_columns";
}
	<ul id="listClolumns">
		@foreach (var col in Model)
		{
			<li class="li-styling column-element">
				<div>
					<p class="text-bold column-title">@col.ColumnName</p>
					<p class="column-data">					
						@col.DataType.ToUpper()
		
						@((col.CharacterMaxLength != null) ? $"({col.CharacterMaxLength})" : "")
						@(col.ISNullable == DMLTriggerGenerator.DAL.Enums.IsNullable.YES ? "NULL" : "NOT NULL" )
					</p>
				</div>
					<label class="checkbox-inline"><input type="checkbox" name="Insert" value="Insert">Insert</label>
					<label class="checkbox-inline"><input type="checkbox" name="Update" value="Update">Update</label>
					<label class="checkbox-inline"><input type="checkbox" name="Delete" value="Delete">Delete</label>
			</li>
					}
	</ul>


